* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  margin-right: 10px;
  width: 40px;
  height: auto;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

/* country-list */
.country-list-item {
  display: flex;
  align-items: center;
}
.country-list-item:not(:last-child) {
  margin-bottom: 10px;
}

/* country-info */
.country-name {
  display: flex;
  align-items: center;
}

.country-name img {
  width: 70px;
}

.country-name span {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}

.country-info span {
  font-weight: bold;
}

.country-info div:not(:last-child) {
  margin-bottom: 10px;
}
